# Byte-compiled / optimized / DLL files
__pycache__/
*.py[c]
!bin/**/.pyc
*$py.class

# Eclipse / PyDev projects
.project
.pydevproject
.settings/
.idea/

# setuptools
dist/
build/
*.egg-info/

# pytest
.pytest_cache/


bin/*
!bin/python3.7

lib/python3.7/site-packages/*
